.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #23463f;  
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color: #56d6ec81;  
    padding: 20px;  
}  
label{  
    color: #08ffd1;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
}  
td{
    color: #f7f8f8;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    padding-right:25px;
}
.td_merged_btn{
    color: #f7f8f8;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    padding-right:25px;
    align-items: center;
}
